@font-face {
    font-family: 'Itim-Regular';
    src: url("D:\Downloads\Itim\Itim-Regular.ttf") format('ttf');
  }

body {
    font-family: "Itim-Regular", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
}

.container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.container input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.container button {
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
}

.container .message {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.container p {
    margin: 0;
}

.container .message p:first-child {
    font-weight: bold;
}

.message {
    color: red;
}
.message.correct {
    color: green;
}


